/*
Theme Name: Ecdc Vn
Theme URI: https://ecdc.vn
Author: The Ecdc Dev Team
Author URI: https://wordpress.org/
Description: Ecdcvn is theme for ecdc.vn company
Version: 1.3
License: Copyright
License URI: https://ecdc.vn
Tags: one-column, two-columns, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready, blog
Text Domain: ecdcvn

This theme, like WordPress
Use it to make something cool, have fun, and share what you've learned with others.
*/


/**
 * Table of Contents
 *
 * 1.0 - Normalize
 * 2.0 - Genericons
 * 3.0 - Typography
 * 4.0 - Elements
 * 5.0 - Forms
 * 6.0 - Navigation
 *   6.1 - Links
 *   6.2 - Menus
 * 7.0 - Accessibility
 * 8.0 - Alignments
 * 9.0 - Clearings
 * 10.0 - Widgets
 * 11.0 - Content
 *    11.1 - Header
 *    11.2 - Posts and pages
 *    11.3 - Post Formats
 *    11.4 - Comments
 *    11.5 - Sidebar
 *    11.6 - Footer
 * 12.0 - Media
 *    12.1 - Captions
 *    12.2 - Galleries
 * 13.0 - Multisite
 * 14.0 - Media Queries
 *    14.1 - >= 710px
 *    14.2 - >= 783px
 *    14.3 - >= 910px
 *    14.4 - >= 985px
 *    14.5 - >= 1200px
 * 15.0 - Print
 */


/**
 * 1.0 - Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */

html {
	font-family: Montserrat;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button,
input[type="week"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	min-width: inherit;
	padding: 0.875em;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}


/**
 * 2.0 - Genericons
 */

.menu-item-has-children a:after,
.social-navigation a:before,
.dropdown-toggle:after,
.bypostauthor > article .fn:after,
.comment-reply-title small a:before,
.pagination .prev:before,
.pagination .next:before,
.pagination .nav-links:before,
.pagination .nav-links:after,
.search-submit:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: "Genericons";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}


/**
 * 3.0 - Typography
 */

body,
button,
input,
select,
textarea {
	color: #1a1a1a;
	font-family: Montserrat;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
	margin: 0;
	text-rendering: optimizeLegibility;
}

p {
	margin: 0 0 1.75em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border: 0 solid #1a1a1a;
	border-left-width: 4px;
	color: #686868;
	font-size: 19px;
	font-size: 1.1875rem;
	font-style: italic;
	line-height: 1.4736842105;
	margin: 0 0 1.4736842105em;
	overflow: hidden;
	padding: 0 0 0 1.263157895em;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote p {
	margin-bottom: 1.4736842105em;
}

blockquote cite,
blockquote small {
	color: #1a1a1a;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
	content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

blockquote > :last-child {
	margin-bottom: 0;
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Inconsolata, monospace;
}

pre {
	border: 1px solid #d1d1d1;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.3125;
	margin: 0 0 1.75em;
	max-width: 100%;
	overflow: auto;
	padding: 1.75em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	background-color: #d1d1d1;
	padding: 0.125em 0.25em;
}

abbr,
acronym {
	border-bottom: 1px dotted #d1d1d1;
	cursor: help;
}

mark,
ins {
	background: #007acc;
	color: #fff;
	padding: 0.125em 0.25em;
	text-decoration: none;
}

big {
	font-size: 125%;
}


/**
 * 4.0 - Elements
 */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #1a1a1a;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #d1d1d1;
	border: 0;
	height: 1px;
	margin: 0 0 1.75em;
}

ul,
ol {
	margin: 0 0 1.75em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
	margin-left: 1.5em;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin: 0 0 1.75em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 0 1.75em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
	vertical-align: middle;
}

del {
	opacity: 0.8;
}

table,
th,
td {
	border: 1px solid #d1d1d1;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	/* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 0.4375em;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

:-moz-placeholder {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

::-moz-placeholder {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}


/**
 * 5.0 - Forms
 */

input {
	line-height: normal;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
	background: #1a1a1a;
	border: 0;
	border-radius: 2px;
	color: #fff;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-weight: 700;
	letter-spacing: 0.046875em;
	line-height: 1;
	padding: 0.84375em 0.875em 0.78125em;
	text-transform: uppercase;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: thin dotted;
	outline-offset: -4px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	background: #f7f7f7;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	color: #686868;
	padding: 0.625em 0.4375em;
	width: 100%;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
	background-color: #fff;
	color: #1a1a1a;
	outline: 0;
}

.post-password-form {
	margin-bottom: 1.75em;
}

.post-password-form label {
	color: #686868;
	display: block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 1.75em;
	text-transform: uppercase;
}

.post-password-form input[type="password"] {
	margin-top: 0.4375em;
}

.post-password-form > :last-child {
	margin-bottom: 0;
}

.search-form {
	position: relative;
}

input[type="search"].search-field {
	border-radius: 2px 0 0 2px;
	width: -webkit-calc(100% - 42px);
	width: calc(100% - 42px);
}

.search-submit:before {
	content: "\f400";
	font-size: 24px;
	left: 2px;
	line-height: 42px;
	position: relative;
	width: 40px;
}

.search-submit {
	border-radius: 0 2px 2px 0;
	bottom: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 42px;
}


/**
 * 6.0 - Navigation
 */

/**
 * 6.1 - Links
 */

a {
	color: #007acc;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #686868;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

.entry-content a,
.entry-summary a,
.taxonomy-description a,
.logged-in-as a,
.comment-content a,
.pingback .comment-body > a,
.textwidget a,
.entry-footer a:hover,
.site-info a:hover {
	box-shadow: 0 1px 0 0 currentColor;
}

.entry-content a:hover,
.entry-content a:focus,
.entry-summary a:hover,
.entry-summary a:focus,
.taxonomy-description a:hover,
.taxonomy-description a:focus,
.logged-in-as a:hover,
.logged-in-as a:focus,
.comment-content a:hover,
.comment-content a:focus,
.pingback .comment-body > a:hover,
.pingback .comment-body > a:focus,
.textwidget a:hover,
.textwidget a:focus {
	box-shadow: none;
}


/**
 * 6.2 - Menus
 */

.site-header-menu {
	display: none;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	margin: 0.875em 0;
}

.site-header-menu.toggled-on,
.no-js .site-header-menu {
	display: block;
}

.main-navigation {
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.site-footer .main-navigation {
	margin-bottom: 1.75em;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
}

.main-navigation li {
	border-top: 1px solid #d1d1d1;
	position: relative;
}

.main-navigation a {
	color: #1a1a1a;
	display: block;
	line-height: 1.3125;
	outline-offset: -1px;
	padding: 0.84375em 0;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #007acc;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 700;
}

.main-navigation ul ul {
	display: none;
	margin-left: 0.875em;
}

.no-js .main-navigation ul ul {
	display: block;
}

.main-navigation ul .toggled-on {
	display: block;
}

.main-navigation .primary-menu {
	border-bottom: 1px solid #d1d1d1;
}

.main-navigation .menu-item-has-children > a {
	margin-right: 56px;
}

.dropdown-toggle {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: #1a1a1a;
	content: "";
	height: 48px;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: none;
	top: 0;
	width: 48px;
}

.dropdown-toggle:after {
	border: 0 solid #d1d1d1;
	border-left-width: 1px;
	content: "\f431";
	font-size: 24px;
	left: 1px;
	position: relative;
	width: 48px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background-color: transparent;
	color: #007acc;
}

.dropdown-toggle:focus {
	outline: thin dotted;
	outline-offset: -1px;
}

.dropdown-toggle:focus:after {
	border-color: transparent;
}

.dropdown-toggle.toggled-on:after {
	content: "\f432";
}

.site-header .main-navigation + .social-navigation {
	margin-top: 1.75em;
}

.site-footer .social-navigation {
	margin-bottom: 1.75em;
}

.social-navigation ul {
	list-style: none;
	margin: 0 0 -0.4375em;
}

.social-navigation li {
	float: left;
	margin: 0 0.4375em 0.4375em 0;
}

.social-navigation a {
	border: 1px solid #d1d1d1;
	border-radius: 50%;
	color: #1a1a1a;
	display: block;
	height: 35px;
	position: relative;
	width: 35px;
}

.social-navigation a:before {
	content: "\f415";
	height: 33px;
	line-height: 33px;
	text-align: center;
	width: 33px;
}

.social-navigation a:hover:before,
.social-navigation a:focus:before {
	color: #007acc;
}

.social-navigation a[href*="codepen.io"]:before {
	content: "\f216";
}

.social-navigation a[href*="digg.com"]:before {
	content: "\f221";
}

.social-navigation a[href*="dribbble.com"]:before {
	content: "\f201";
}

.social-navigation a[href*="dropbox.com"]:before {
	content: "\f225";
}

.social-navigation a[href*="facebook.com"]:before {
	content: "\f203";
}

.social-navigation a[href*="flickr.com"]:before {
	content: "\f211";
}

.social-navigation a[href*="foursquare.com"]:before {
	content: "\f226";
}

.social-navigation a[href*="plus.google.com"]:before {
	content: "\f206";
}

.social-navigation a[href*="github.com"]:before {
	content: "\f200";
}

.social-navigation a[href*="instagram.com"]:before {
	content: "\f215";
}

.social-navigation a[href*="linkedin.com"]:before {
	content: "\f208";
}

.social-navigation a[href*="path.com"]:before {
	content: "\f219";
}

.social-navigation a[href*="pinterest.com"]:before {
	content: "\f210";
}

.social-navigation a[href*="getpocket.com"]:before {
	content: "\f224";
}

.social-navigation a[href*="polldaddy.com"]:before {
	content: "\f217";
}

.social-navigation a[href*="reddit.com"]:before {
	content: "\f222";
}

.social-navigation a[href*="skype.com"]:before {
	content: "\f220";
}

.social-navigation a[href*="stumbleupon.com"]:before {
	content: "\f223";
}

.social-navigation a[href*="tumblr.com"]:before {
	content: "\f214";
}

.social-navigation a[href*="twitter.com"]:before {
	content: "\f202";
}

.social-navigation a[href*="vimeo.com"]:before {
	content: "\f212";
}

.social-navigation a[href*="wordpress.com"]:before,
.social-navigation a[href*="wordpress.org"]:before {
	content: "\f205";
}

.social-navigation a[href*="youtube.com"]:before {
	content: "\f213";
}

.social-navigation a[href^="mailto:"]:before {
	content: "\f410";
}

.social-navigation a[href*="spotify.com"]:before {
	content: "\f515";
}

.social-navigation a[href*="twitch.tv"]:before {
	content: "\f516";
}

.social-navigation a[href$="/feed/"]:before {
	content: "\f413";
}

.post-navigation {
	border-top: 4px solid #1a1a1a;
	border-bottom: 4px solid #1a1a1a;
	clear: both;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	margin: 0 7.6923% 3.5em;
}

.post-navigation a {
	color: #1a1a1a;
	display: block;
	padding: 1.75em 0;
}

.post-navigation span {
	display: block;
}

.post-navigation .meta-nav {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 0.5384615385em;
	text-transform: uppercase;
}

.post-navigation .post-title {
	display: inline;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 23px;
	font-size: 1.4375rem;
	font-weight: 700;
	line-height: 1.2173913043;
	text-rendering: optimizeLegibility;
}

.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title {
	color: #007acc;
}

.post-navigation div + div {
	border-top: 4px solid #1a1a1a;
}

.pagination {
	border-top: 4px solid #1a1a1a;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 19px;
	font-size: 1.1875rem;
	margin: 0 7.6923% 2.947368421em;
	min-height: 56px;
	position: relative;
}

.pagination:before,
.pagination:after {
	background-color: #1a1a1a;
	content: "";
	height: 52px;
	position: absolute;
	top:0;
	width: 52px;
	z-index: 0;
}

.pagination:before {
	right: 0;
}

.pagination:after {
	right: 54px;
}

.pagination a:hover,
.pagination a:focus {
	color: #1a1a1a;
}

.pagination .nav-links {
	padding-right: 106px;
	position: relative;
}

.pagination .nav-links:before,
.pagination .nav-links:after {
	color: #fff;
	font-size: 32px;
	line-height: 51px;
	opacity: 0.3;
	position: absolute;
	width: 52px;
	z-index: 1;
}

.pagination .nav-links:before {
	content: "\f429";
	right: -1px;
}

.pagination .nav-links:after {
	content: "\f430";
	right: 55px;
}

/* reset screen-reader-text */
.pagination .current .screen-reader-text {
	position: static !important;
}

.pagination .page-numbers {
	display: none;
	letter-spacing: 0.013157895em;
	line-height: 1;
	margin: 0 0.7368421053em 0 -0.7368421053em;
	padding: 0.8157894737em 0.7368421053em 0.3947368421em;
	text-transform: uppercase;
}

.pagination .current {
	display: inline-block;
	font-weight: 700;
}

.pagination .prev,
.pagination .next {
	background-color: #1a1a1a;
	color: #fff;
	display: inline-block;
	height: 52px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 0;
	width: 52px;
	z-index: 2;
}

.pagination .prev:before,
.pagination .next:before {
	font-size: 32px;
	height: 53px;
	line-height: 52px;
	position: relative;
	width: 53px;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .next:hover,
.pagination .next:focus {
	background-color: #007acc;
	color: #fff;
}

.pagination .prev:focus,
.pagination .next:focus {
	outline: 0;
}

.pagination .prev {
	right: 54px;
}

.pagination .prev:before {
	content: "\f430";
	left: -1px;
	top: -1px;
}

.pagination .next {
	right: 0;
}

.pagination .next:before {
	content: "\f429";
	right: -1px;
	top: -1px;
}

.image-navigation,
.comment-navigation {
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	margin: 0 7.6923% 2.1538461538em;
	padding: 1.0769230769em 0;
}

.comment-navigation {
	margin-right: 0;
	margin-left: 0;
}

.comments-title + .comment-navigation {
	border-bottom: 0;
	margin-bottom: 0;
}

.image-navigation .nav-previous:not(:empty),
.image-navigation .nav-next:not(:empty),
.comment-navigation .nav-previous:not(:empty),
.comment-navigation .nav-next:not(:empty) {
	display: inline-block;
}

.image-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before,
.comment-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before {
	content: "\002f";
	display: inline-block;
	opacity: 0.7;
	padding: 0 0.538461538em;
}


/**
 * 7.0 - Accessibility
 */

/* Text meant only for screen readers */
.says,
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	/* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal !important;
}

/* must have higher specificity than alternative color schemes inline styles */
.site .skip-link {
	background-color: #f1f1f1;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #21759b;
	display: block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 700;
	left: -9999em;
	outline: none;
	padding: 15px 23px 14px;
	text-decoration: none;
	text-transform: none;
	top: -9999em;
}

.logged-in .site .skip-link {
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
	font-family: "Open Sans", sans-serif;
}

.site .skip-link:focus {
	clip: auto;
	height: auto;
	left: 6px;
	top: 7px;
	width: auto;
	z-index: 100000;
}


/**
 * 8.0 - Alignments
 */

.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}

blockquote.alignleft {
	margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
	margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
	margin-bottom: 1.473684211em;
}


/**
 * 9.0 - Clearings
 */

.clear:before,
.clear:after,
blockquote:before,
blockquote:after,
.entry-content:before,
.entry-content:after,
.entry-summary:before,
.entry-summary:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.site-main > article:before,
.site-main > article:after,
.primary-menu:before,
.primary-menu:after,
.social-links-menu:before,
.social-links-menu:after,
.textwidget:before,
.textwidget:after,
.content-bottom-widgets:before,
.content-bottom-widgets:after {
	content: "";
	display: table;
}

.clear:after,
blockquote:after,
.entry-content:after,
.entry-summary:after,
.comment-content:after,
.site-content:after,
.site-main > article:after,
.primary-menu:after,
.social-links-menu:after,
.textwidget:after,
.content-bottom-widgets:after {
	clear: both;
}


/**
 * 10.0 - Widgets
 */

/* Calendar widget */

/* Recent Posts widget */

/* RSS widget */

/* Tag Cloud widget */

/**
 * 11.0 - Content
 */

/**
 * 11.1 - Header
 */

/**
 * 11.2 - Posts and pages
 */

/**
 * 11.3 - Post Formats
 */

.format-aside .entry-title,
.format-image .entry-title,
.format-video .entry-title,
.format-quote .entry-title,
.format-gallery .entry-title,
.format-status .entry-title,
.format-link .entry-title,
.format-audio .entry-title,
.format-chat .entry-title {
	font-size: 19px;
	font-size: 1.1875rem;
	line-height: 1.473684211;
	margin-bottom: 1.473684211em;
}

.blog .format-status .entry-title,
.archive .format-status .entry-title {
	display: none;
}

/**
 * 11.4 - Comments
 */

/**
 * 11.5 - Sidebar
 */

/**
 * 11.6 - Footer
 */

/**
 * 14.0 - Media Queries
 */

/**
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}


/**
 * 14.1 - >= 710px
 */

@media screen and (min-width: 44.375em) {	
}


/**
 * 14.2 - >= 783px
 */

@media screen and (min-width: 48.9375em) {
	body:not(.custom-background-image).admin-bar:before {
		top: 32px;
	}
}


/**
 * 14.3 - >= 910px
 */

@media screen and (min-width: 56.875em) {	
}


/**
 * 14.4 - >= 985px
 */

@media screen and (min-width: 61.5625em) {	
}


/**
 * 14.5 - >= 1200px
 */

@media screen and (min-width: 75em) {	
}


/**
 * 15.0 - Print
 */


/* ECDC WEBSITES */

/* 
 * 16.0 - General
 */ 
html{font-family:Montserrat;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:Montserrat;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#337ab7;text-decoration:none}a:hover,a:focus{color:#23527c;text-decoration:underline}a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}figure{margin:0}img{vertical-align:middle}.img-responsive{display:block;max-width:100%;height:auto}.img-rounded{border-radius:6px}.img-thumbnail{padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:inline-block;max-width:100%;height:auto}.img-circle{border-radius:50%}hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}[role="button"]{cursor:pointer}.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}.row{margin-left:-15px;margin-right:-15px}.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after{content:" ";display:table}.clearfix:after,.container:after,.container-fluid:after,.row:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right !important}.pull-left{float:left !important}.hide{display:none !important}.show{display:block !important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none !important}.affix{position:fixed}@-ms-viewport{width:device-width}.visible-xs,.visible-sm,.visible-md,.visible-lg{display:none !important}.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block{display:none !important}@media (max-width:767px){.visible-xs{display:block !important}table.visible-xs{display:table !important}tr.visible-xs{display:table-row !important}th.visible-xs,td.visible-xs{display:table-cell !important}}@media (max-width:767px){.visible-xs-block{display:block !important}}@media (max-width:767px){.visible-xs-inline{display:inline !important}}@media (max-width:767px){.visible-xs-inline-block{display:inline-block !important}}@media (min-width:768px) and (max-width:991px){.visible-sm{display:block !important}table.visible-sm{display:table !important}tr.visible-sm{display:table-row !important}th.visible-sm,td.visible-sm{display:table-cell !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-block{display:block !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline{display:inline !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline-block{display:inline-block !important}}@media (min-width:992px) and (max-width:1199px){.visible-md{display:block !important}table.visible-md{display:table !important}tr.visible-md{display:table-row !important}th.visible-md,td.visible-md{display:table-cell !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-block{display:block !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline{display:inline !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline-block{display:inline-block !important}}@media (min-width:1200px){.visible-lg{display:block !important}table.visible-lg{display:table !important}tr.visible-lg{display:table-row !important}th.visible-lg,td.visible-lg{display:table-cell !important}}@media (min-width:1200px){.visible-lg-block{display:block !important}}@media (min-width:1200px){.visible-lg-inline{display:inline !important}}@media (min-width:1200px){.visible-lg-inline-block{display:inline-block !important}}@media (max-width:767px){.hidden-xs{display:none !important}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none !important}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none !important}}@media (min-width:1200px){.hidden-lg{display:none !important}}.visible-print{display:none !important}@media print{.visible-print{display:block !important}table.visible-print{display:table !important}tr.visible-print{display:table-row !important}th.visible-print,td.visible-print{display:table-cell !important}}.visible-print-block{display:none !important}@media print{.visible-print-block{display:block !important}}.visible-print-inline{display:none !important}@media print{.visible-print-inline{display:inline !important}}.visible-print-inline-block{display:none !important}@media print{.visible-print-inline-block{display:inline-block !important}}@media print{.hidden-print{display:none !important}}

body {
  background-color: transparent;
  font-family: Montserrat;
  font-size: 14px;
}

.rx-page-container {
  width: 100%;
  display: block;
  min-height: 1000px;
}
.rx-page {
    width: 100%;
    min-height: 1000px;
    display: block;
}
.rx-header-group {
    width: 100%;
    height: 120px;
    display: block;
}

/*
 * 16.1 - Header
 */
.rx-header {
	height: 120px;
	background-color: #f79427;
}

.rx-header-top {
	height: 40px;
  background-color: #262626;
  color: #ffffff;   
}

.rx-header-bot {
	height: 80px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

.rx-header-navleft {
  	float: left;
  	height: 40px;
  	margin-left: 390px;
}

.rx-header-navleft>div {
  float: left;
  height: 40px;
  vertical-align: middle;
  padding: 10px 25px;
  font-weight: 100;
}

.rx-header-navright {
  float: right;
  height: 40px;
  margin-right: 10px;
}

.rx-header-navright>div {
  float: left;
  padding: 10px 20px;
  height: 40px;
}

.rx-header-navright>div:hover {
	background: #464646;
}

.rx-header-navmain {
	margin-left: 390px;
	height: 100%;
	display: inline-block;
}
li.header-menu-content:hover .ushover {
    display: block;
}

.rx-header-navmain>div {
  float: left;  
  padding: 30px 15px;  
}

.rx-header-navsearch {
  float: right;
  height: 80px;
  padding: 20px 15px;
}

.rx-header-navsearch input[type="text"] {
  width: 300px;
  float: right;
  left: 0px;
  height: 42px;
  padding: 15px !important;
  border-radius: 20px !important;
  opacity: 0.8;
}

.rx-block-slider {
  display: block;
  height: 670px;
  width: 100%;
  background: aliceblue;
  position: relative;
}
.rx-block-slider1 {
  display: block;
  height: 300px;
  width: 100%;
  background: aliceblue;
  position: relative;
}

.rx-slider-left {
	cursor: pointer;
  width: 60px;
  object-fit: contain;
  height: 57px;
  background: #262626;
  display: block;
  border-radius: 0 47px 47px 0;
  padding: 30px 16px;
  font-size: 25px;
  color: #fff;
  line-height: 0px;
  top: 45%;
  position: absolute;
}

.rx-slider-left:hover {
	background-color: #f79427;
}
.rx-slider-rightimg {
    height: 40px;
    width: 30px;
    margin-top: -20px;
}
.rx-slider-leftimg {
    height: 40px;
    width: 30px;
    margin-top: -20px;
    margin-left: -5px;
}

.rx-slider-right {
	cursor: pointer;
  width: 60px;
  object-fit: contain;
  height: 57px;
  background: #262626;
  display: block;
  border-radius: 47px 0 0 47px;
  padding: 30px 25px;
  font-size: 25px;
  color: #fff;
  line-height: 0px;
  top: 45%;
  right: 0px;
  position: absolute;
}

.rx-slider-right:hover {
	background-color: #f79427;
}

.rx-block-partner {
  height: 120px;
  background-color: #ffffff;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.1);
}

.rx-block-partner-heading {
  width: 210px;
  height: 120px;
  float: left;
  font-size: 24px;
  color: #fff;
  background: #d9172b;
  border-radius: 0 0 46px 0;
  padding: 28px 40px;
  position: relative;
  letter-spacing: 1px;
}

.rx-block-partner-heading:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0px;
  right: -30px;
  border-top: 85px solid #d9172b;
  border-right: 31px solid transparent;
}

.rx-ecdc-logo {
  width: 360px;
  height: 103px;
  float: left;
  font-size: 24px;
  color: #fff;
  background: #ffffff;
  border-radius: 0 0 45px 0;
  padding: 28px 40px;
  letter-spacing: 1px;
  position: absolute;
}

.rx-ecdc-logo:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0px;
  right: -32px;
  border-top: 75px solid #ffffff;
  border-right: 35px solid transparent;
}
.rx-block-service-group {
    width: 100%;
    height: 600px;
    position: relative;
    display: block;
}

.rx-block-service {
	height: 600px;
	width: 1140px;
	margin: auto;
}
.rx-body-group {
    width: 100%;
    display: block;
    min-height: 200px;
}

.rx-block-service-heading {
  width: 520px;
  margin: auto;
  font-size: 44px;
  margin-top: 50px;
  font-weight: bold;
  margin-bottom: 23px;
  text-align: center;
}

.rx-red {
  color: #f79427;
  margin-left: 20px;
}

.rx-block-service-desc {
  font-size: 18px;
  width: 770px;
  margin: auto;
  text-align: center;
}

.rx-block-service-content {
  width: 1139px;
  margin: auto;
  margin-top: 62px;
}

.rx-service-circle-wrap {
	overflow: hidden;
  width: 260px;
  height: 260px;
  float: left;
  position: relative;
  margin-right: 33px;
  border-radius: 50%;
}

.rx-service-circle-wrap:last-child {
	margin-right: 0px;
}

.rx-service-circle {	
  float: left;
  width: 260px;
  height: 260px;
  margin-right: 33px;
  border-radius: 50%;
  border: solid 8px #ddd;
}

.rx-service-circle:last-child {
  margin-right: 0px;  
}

.rx-block-about {
	width: 100%;
	display: block;
  	height: 780px;  
 	position: relative;
}

.rx-block-about-bg {
	width: 100%;
  height: 100%;
  position: absolute;  
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  z-index: -1;
}

.rx-about-nametop {
  font-size: 34px;
  font-weight: 501;
  width: 100%;
  margin: auto;
  padding-top: 50px;
}
.rx-block-about-container {
    width: 1140px;
    margin: auto;
    display: block;
    padding-top: 150px;
}

.rx-about-name {
  font-size: 44px;
  font-weight: 501;
  color: #f79427;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.rx-about-content {
  width: 100%;
  margin: auto;
  padding-right: 30%;
}

.rx-about-readmore-container {
	width: 100%;
	margin: auto;
	margin-top: 40px;
}

.rx-about-readmore {
  color: #f79427;
  border: solid 2px #f79427;
  width: 200px;
  height: 50px;
  padding: 10.5px;
  text-align: center;
  font-size: 18px;
  border-radius: 40px;
  margin-top: 10px;
  font-weight: bold;
}

.rx-block-ecdc {
  height: 780px;  
}

.rx-leftpart {
	height: 100%;
	width: 50%;
	display: block;
	float: left;
	position: relative;
}

.rx-leftpart-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.rx-rightpart {
	height: 100%;
	width: 50%;
	display: block;
	float: left;
	position: relative;	
	color: #ffffff;
}

.rx-rightpart-bg {
	width: 100%;
	height: 100%;
	position: absolute;	
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.rx-newsletter-container {
  width: 1140px;
  height: 100%;
  margin: auto;
  padding-top: 35px;  
}

.rx-block-newsletter {
  height: 120px;
  width: 100%;
  background-color: #f79427;
}

.rx-newsletter-name {
    float: left;
    width: 465px;
    height: 50px;
}

.rx-newsletter-name-top {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 50px;
}
button.rx-newsletter-button:hover {
    background-color: #633400;
}

.rx-newsletter-name-bot {
  color: #fff;
  font-weight: 100;
  font-size: 14px;
}

input.rx-newsletter-input {
  float: left;
  margin-left: 20px;
  width: 340px;
  height: 50px;
  padding-left: 15px;
  border-radius: 44px;
  background-color: rgba(255, 255, 255, 0.66);
}

.rx-newsletter-button {
  width: 180px;
  height: 50px;
  border-radius: 40px;
  background-color: #a25500;
  float: left;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-top: 13px;
  letter-spacing: 1px;
  margin-left: 15px;
}

.rx-newsletter-social {
	width: 80px;
  float: left;
  margin-left: 35px;
  margin-top: 12px;
}

.rx-newsletter-social .rx-icon-social {
  float: left;
  width: 24px;
  height: 24px;
  margin-left: 24px;
  color: #ffffff;
  font-weight: bold;  
  border-radius: 5px;
  padding: 4px 7px;
  background-size: contain
}

.rx-newsletter-social .rx-icon-social:first-child {
  margin-left: 0px;
}

.rx-icon-readmore {
	background: url(images/btn-icon-readmore@2x.png) no-repeat center center;
	width: 32px;
  height: 32px;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -4px;
}

.rx-icon-readmore-white {
	background: url(images/btn-icon-readmore-white@2x.png) no-repeat center center;
	width: 32px;
  height: 32px;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -4px;
}

.rx-icon-facebook {
  background: url(images/social-facebook@2x.png) no-repeat center center;
}

.rx-icon-google {
	background: url(images/social-google@2x.png) no-repeat center center;
}

.rx-icon-twitter {
	background: url(images/social-twitter@2x.png) no-repeat center center;
}

.rx-icon-youtube {
	background: url(images/social-youtube@2x.png) no-repeat center center;
}

.rx-icon-instagram {
	background: url(images/social-instagram@2x.png) no-repeat center center;
}

.rx-icon-skype {
	background: url(images/social-skype@2x.png) no-repeat center center;
}

.rx-icon-location {
	background: url(images/footer-icon-location@2xn.png) no-repeat center center;	
}

.rx-icon-phone {
	background: url(images/footer-icon-phone@2xn.png) no-repeat center center;		
}

.rx-icon-fax {
	background: url(images/footer-icon-fax.png) no-repeat center center;	
}

.rx-icon-email {
	background: url(images/footer-icon-email@2xn.png) no-repeat center center;	
}

.rx-icon-topnav {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  background-size: contain;
  margin-right: 5px;
}

.rx-icon-contact {
  width: 30px;
  height: 30px;
  float: left;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 16px;
  background-size: 80%;
}

.rx-footer {
  height: 416px;
  width: 100%;
  background-color: #262626;
}

.rx-footer-container {
  width: 1140px;
  height: 100%;
  display: block;
  margin: auto;
  color: #ffffff;
}

.rx-footer-top {
	padding-top: 45px;
	padding-bottom: 40px;
}

.rx-footer-top:after {
	content: "";
  display: table;
  clear: both;
}

.rx-address-block {
  float: left;
  width: 30%;
}

.rx-quicklink {
  float: left;
  width: 40%;
  font-weight: 100;
}

.rx-footer-quicklink-left {
  float: left;
  width: 50%;
}

.rx-footer-quicklink-right {
	float: left;
	width: 50%;
}

.rx-footer-quicklink-left>div {
  margin-bottom: 10px;
  position: relative;
  padding-left: 15px;
}

.rx-footer-quicklink-right>div {
  margin-bottom: 10px;
  position: relative;
  padding-left: 15px;
}

.rx-footer-quicklink-left>div:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 5px;
  left: 0px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 5px solid #f79427;
}

.rx-footer-quicklink-right>div:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 5px;
  left: 0px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 5px solid #f79427;
}

.rx-footer-bot {
  padding: 30px 0;
  width: 100%;
  border-top: solid 2px #4a4a4a;
}

.rx-footer-bot:after {
  content: '';
  display: table;
  clear: both;
}

.rx-col-lg-4 {
	margin: auto;
  width: 33.3%;
  font-weight: 100;
  min-height: 1px;
}

.rx-footer-ecdc-logo {
  position: relative;
}

.rx-ecdc-footer {
  width: 300px;
  height: 94px;  
  -webkit-background-size: contain !important;
  -moz-background-size: contain !important;
  -o-background-size: contain !important;
  background-size: contain !important;
  margin: auto;
  left: 0px;
  top: -30px;
  display: block;
  position: absolute;
}

.rx-footer-ecdc-privacy {
  text-align: center;
  margin-top: 10px;
}

.rx-footer-ecdc-copyright {
  text-align: center;
  margin-top: 10px;
}

.rx-footer-block-name {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.rx-footer-address-container {
  font-size: 13px;
  line-height: 20px;
  font-weight: 100;
  width: 305px;
}

.rx-footer-container-group {
    padding-bottom: 20px;
}
.rx-footer-content {
    width: 85%;
    position: relative;
    margin-left: 45px;
}

.rx-footer-address-container>span {

}

.rx-footer-address-container>div>.rx-icon-contact {
  margin-top: -5px;
}

.rx-footer-address-container>div:first-child>.rx-icon-contact {
  margin-top: 0px;
}

.rx-service-heading {
  background-color: #f79427;
  font-size: 20px;
  font-weight: bold;
  bottom: 20px;
  position: absolute;
  height: 68px;
  width: 260px;
  color: #ffffff;
  text-align: center;
  padding: 10px 45px;
  line-height: 25px;
}

/* Slider */
.rx-slider-items {
  position: absolute;
  width: 100%;
  height: 100%;
}

.rx-slider-item {
  width: 100%;
  height: 100%;
  position: absolute;  
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.rx-slider-item1 {
    height: 100%;
    width: 100%;
    display: none;
    background-size: cover !important;
}

.rx-ecdc-mainlogo {
  width: 300px;
  height: 100px;  
  -webkit-background-size: contain !important;
  -moz-background-size: contain !important;
  -o-background-size: contain !important;
  background-size: contain !important;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 25px;
}

.rx-ecdcpay-logo {
  width: 270px;
  height: 100px;  
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;	
  -o-background-size: cover !important;
  background-size: cover !important;
  margin: auto;
  margin-top: 121px;
  position: relative;
  border-radius: 100px;
}

.rx-ecdcpay-name {
	font-size: 44px;
  font-weight: bold;
  width: 460px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 15px;
}

.rx-ecdcpay-desc {
  border-top: solid 2px rgba(255,255,255,0.5);
  border-bottom: solid 2px rgba(255,255,255,0.5);
  font-size: 18px;
  width: 555px;
  margin: auto;
  margin-bottom: 30px;
  padding: 2px 0PX;
}

.rx-ecdcpay-content {
	font-size: 18px;
  line-height: 28px;
  font-weight: 100;
  width: 555px;
  margin: auto;
  margin-bottom: 65px;
}

.rx-ecdcpay-readmore {
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  height: 50px;
  border: solid 1px;
  padding: 12px;
  text-align: center;
  border-radius: 40px;
  margin: auto;
}

.rx-block-partner-content {
    height: 125px;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: 95% !important;
    margin: auto;
    top: -30px;
    display: block;
    margin-right: 50px;
}

.rx-service-ico {
    width: 115px;
    height: 115px !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    margin: auto;
    display: block;
    margin-top: 25px;
}
a.linktext {
    color: #ffffff;
    text-decoration: none;
}
.lang:after {
    content: '';
    position: absolute;
    right: 18px;
    top: 20px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #828282;
}
.lang {
    line-height: 0px;
    width: 70px;
    padding-top: 5px !important;
    display: none;
}
.langimg {
    padding-bottom: -8px;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: -10px;
    background-size: 150% !important;
}
.uschild {
    height: 30px;
    width: 245px;
    margin-top: 12px;
    list-style-type: none;
}
a.linktextaf {
    color: #ffffff;
    text-decoration: none;
}
.ushover {
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    padding-left: 10px;
    z-index: 2;
    height: 180px;
    width: 260px;
    margin-top: 80px;
    display: none;
}
.tabhover:hover .ushover {
    display: block;
}
.tabhover:hover {
    background-color: #db7f1a;
    border-bottom: 1px solid #ffffff;
}
.contentpost {
    position: relative;
    display: inline-block;
    height: 400px;
    width: 300px;
    margin-left: 150px;
    margin-top: 5px;
}
.entry-content2 {
    color: #9e9e9e;
    font-size: 14px;
    height: 75px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    margin-top: 15px;
    text-align: center;
    font-family: Montserrat;
    font-stretch: normal;
    font-style: normal;
}
a.linktext1 {
    color: #000000;
    text-decoration: none;
}
.langhover {
    position: absolute;
    background-color: #ffffff;
    margin-left: -20px;
    margin-top: 5px;
    height: 71px !important;
    display: none;
    position: absolute;
    width: 70px;
    z-index: 6;
}
.lang:hover .langhover {
    display: block;
}
.content_title {
    height: 80px;
    width: 100%;
    margin-top: 90px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
}
.entry-content {
    height: 80px;
    width: 100%;
    position: absolute;
    margin-top: 250px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
}
.entry-content1 {
    font-size: 14px;
    padding-top: 20px;
    margin-left: 150px;
}
.langimghover {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 3px;
}
.menu1_img {
    height: 45px;
    width: 45px;
    margin: auto;
    margin-top: 15px;
    background-size: 100% !important;
}
.langimghv {
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    background-size: 195% !important;
}

/* display:none */
nav.navigation.post-navigation {
    display: none;
}
.header_botclick:hover .botclick_hover {
    display: block;
}
.botclick_hover {
    height: 850px;
    width: 400px;
    position: absolute;
    z-index: 6;
    background-color: #f79427;
    margin-left: -336px;
    display: none;
    margin-top: 20px;
    box-shadow: 0px -15px 15px rgba(0,0,0,0.1);
}
.botclick_content {
    height: 35px;
    width: 100%;
    margin-top: 20px;
}
.botclick_content1 {
    height: 35px;
    width: 100%;
    margin-top: 20px;
}
.botclick_content2 {
    height: 35px;
    width: 100%;
    margin-top: 20px;
}
a.linktext_hover {
    color: #ffffff;
    font-size: 18px;
    text-align: right;
    margin-left: 25px;
}
a.linktext_hover1 {
    color: #ffffff;
    margin-left: 45px;
    font-weight: 100;
}
.header_botclick {
    float: right;
    height: 80px;
    width: 65px;
    position: relative;
    border-left: 1px solid #9e9e9e;
    display: none;
}
.iconsearch {
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: 262px;
    margin-top: 10px;
    background-size: 100% !important;
}
.group-site-content {
    margin: auto;
    width: 1000px;
    height: 800px;
    display: block;
    position: relative;
}

.linkdiv {
    height: 80px;
    width: 100%;
    margin-top: -30px;
    line-height: 75px;
}
a.linktexthd {
    float: left;
    padding: 30px 12px;
    color: #ffffff;
    text-decoration: none;
}
li.header-menu-content {
    float: left;
    padding: 0px 0px;
    color: #ffffff;
    list-style-type: none;
    text-decoration: none;
}
a.linktexthd:hover {
    border-bottom: 1px solid #ffffff;
    background-color: #db7f1a;
}
a.linktexthd1 {
    float: left;
    padding: 30px 22px;
    color: #ffffff;
    text-decoration: none;
}
.entry-content3 {
    height: 100px;
    width: 100%;
    margin-top: 30px;
    font-size: 14px;
    color: #000000;
    background-color: white;
    overflow: scroll;
}
main#main {
    width: 1200px;
    margin: auto;
    position: relative;
}
h2.entry-title {
    text-align: center;
    margin-top: 20px;
}
img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    height: 100%;
    max-height: 800px;
    width: 100%;
    position: relative;
    display: block;
}
a.btn_seenmore {
    position: absolute;
    height: 30px;
    width: 100px;
    color: #ffffff;
    background-color: red;
    line-height: 28px;
    padding-left: 14px;
    margin-top: 120px;
    margin-left: 80px;
    text-decoration: none;
}
.border_content {
    height: 400px;
    width: 300px;
    position: relative;
    display: inline-block;
    margin-left: 145px;
    margin-top: 30px;
}
.border_content:first-child {
    margin-left: 0px;
}
a.title_content {
    color: #000000;
    text-decoration: none;
}
div#primary {
    min-height: 100px;
}
.not-found-text {
    font-size: 18px;
    margin-top: 30px;
}
.image_content {
    height: 200px;
    width: 100%;
    position: relative;
    display: block;
}
h1.entry-title_post {
    color: #404040;
    font-size: 35px;
    font-weight: 700;

}
.bordercontent {
    min-height: 100px;
    padding-bottom: 50px;
    position: relative;
}
.image_post {
    position: relative;
    width: 100%;
}
.nothing_text {
    font-size: 18px;
    margin-top: 30px;
}
.textfooter {
    width: 80%;
    margin-left: 45px;
}
.rx-body-contact {
    width: 100%;
    min-height: 600px;
    position: relative;
    display: block;
}
.contact-container {
    width: 1140px;
    margin: auto;
    min-height: 600px;
}
.contact-groups {
    height: 150px;
    width: 600px;
    margin-top: 100px;
    display: block;
    position: relative;
    margin-bottom: 15px;
}
.contact-img {
    height: 4.5em;
    width: 4.5em;
    position: absolute;
    margin-top: 40px;
    display: inline-block;
}
.contact-content {
    width: 500px;
    height: 100%;
    display: inline-block;
    float: right;
}
.image-mail {
    height: 4.5em;
    width: 4.5em;
}
.contact-title {
    font-size: 25px;
    font-weight: bold;
    color: #666;
    height: 40px;
}
.contact-text {
    height: 30px;
    font-size: 14px;
    color: #9d9d9e;
    margin-bottom: 20px;
}
.contact-text1 {
    height: 30px;
    font-size: 14px;
    color: #9d9d9e;
}
.rx-body-contents {
    min-height: 100px;
    width: 100%;
}
.contents-container {
    width: 1140px;
    margin: auto;
    padding-top: 30px;
}
.contents_text {
    float: left;
    font-size: 12px;
}
.navsearch-white {
    height: 45px;
    width: 45px;
    padding: 40px;
    float: right;
    display: none;
}
@media only screen and (min-width: 1140px) and (max-width: 1365px){
 	.rx-header-navsearch{
 		width: 150px;
 	}
 	.iconsearch {
		margin-left: 85px;
	}
 	.rx-block-service-group{
 		height: 780px;
 	}
 	.rx-block-service{
 		width: 80%;
 		height: 780px;
 	}
 	.rx-block-service-content{
 		width: 62%;
 	}
 	.rx-service-circle-wrap{
 		margin-right: 20px;
 		margin-top: 10px;
 	}
 	.rx-block-about-container {
		width: 90%
	}
	.rx-newsletter-container{
		width: 80%;
	}
	.rx-newsletter-name{
		width: 256px;
	}
	input.rx-newsletter-input {
		width: 326px;
	}
	.rx-newsletter-name-top {
		line-height: 29px;
	}
	.rx-footer-container{
		width: 80%;
	}
	.rx-footer-address-container{
		width: 100%;
	}
	main#main {
	    width: 80%;
	}
	.contents-container{
		width: 90%;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1139px){
	.rx-header-navleft{
		margin-left: 26%;
	}
	.news{
		display: none;
	}
	.tuyen{
		display: none;
	}
	.rx-ecdc-logo {
    	width: 25%;
	}	
	.rx-header-navmain{
		margin-left: 27%;
	}
	.rx-ecdc-mainlogo {
		width: 90%;
		left: 15px;
	}
	.rx-header-navsearch{
		width: 15%;
	}
	.iconsearch {
		margin-left: 85px;
	}
	.rx-block-service{
		width: 80%;
		height: 1400px;
	}
	.rx-block-service-group {
		height: 1400px;
	}
	.rx-block-service-content{
		width: 80%;
	}
	.rx-service-circle-wrap {
	    overflow: hidden;
	    width: 260px;
	    height: 260px;
	    margin: auto;
	    margin-top: 15px;
	    position: relative;
	    border-radius: 50%;
	    float: none;
	}
	.rx-service-circle-wrap:last-child{
		margin: auto;
		margin-top: 15px;
	}
	.rx-block-about-container{
		width: 90%;
	}
	.rx-block-newsletter{
		height: 170px;
	}
	.rx-newsletter-container{
		width: 90%;
	}
	.rx-newsletter-name {
	    width: 80%;
	    margin: auto;
	    float: none;
	    text-align: center;
	}
	input.rx-newsletter-input{
		width: 62%;
	}
	.rx-footer-container{
		width: 80%;
	}
	.rx-footer-container-group{
		width: 70%;
	}
	.rx-footer {
		height: 455px;
	}
	.rx-col-lg-4{
		width: 50%;
		margin: auto;
		float: none;
	}
	main#main {
	    width: 80%;
	}
	.contact-container {
	    width: 100%;
	}
	.contents-container{
		width: 90%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
	.rx-header-navleft{
		margin-left: 28%;
	}
	.rx-header-navleft>div{
		padding: 10px 15px;
	}
	.rx-ecdc-logo {
    	width: 25%;
	}	
	.rx-header-navmain{
		margin-left: 27%;
	}
	a.linktexthd {
	    padding: 31px 8px;
	    font-size: 12px;
	}
	.rx-header-navsearch {
	    display: none;
	}
	.navsearch-white {
	    display: block;
	}
	.rx-header-navsearch input[type="text"]{
		padding: 7px !important;
	}
	.iconsearch {
	    display: none;
	}
	.rx-ecdc-mainlogo {
		width: 90%;
		left: 15px;
	}
	.contact-container {
	    width: 100%;
	}
	.news{
		display: none;
	}
	.tuyen{
		display: none;
	}
	.rx-block-service{
		width: 80%;
		height: 1400px;
	}
	.rx-block-service-group {
		height: 1400px;
	}
	.rx-block-service-content{
		width: 80%;
	}
	.rx-service-circle-wrap {
	    overflow: hidden;
	    width: 260px;
	    height: 260px;
	    margin: auto;
	    margin-top: 15px;
	    position: relative;
	    border-radius: 50%;
	    float: none;
	}
	.rx-service-circle-wrap:last-child{
		margin: auto;
		margin-top: 15px;
	}
	.rx-block-about-container{
		width: 90%;
	}
	.rx-block-newsletter{
		height: 170px;
	}
	.rx-newsletter-container{
		width: 80%;
	}
	.rx-newsletter-name {
	    width: 80%;
	    margin: auto;
	    float: none;
	    text-align: center;
	}
	input.rx-newsletter-input{
		width: 45%;
	}
	.rx-footer-container{
		width: 80%;
	}
	.rx-footer {
		height: 800px;
	}
	.rx-col-lg-4{
		width: 50%;
		margin: auto;
		float: none;
	}
	.rx-block-service-desc {
	    width: 80%;
	}
	.rx-address-block {
	    float: none;
	    width: 60%;
	    margin: auto;
	}
	.rx-quicklink{
		width: 60%;
		float: none;
		margin: auto;
	}
	main#main {
	    width: 80%;
	}
	.contents-container{
		width: 90%;
	}
}

@media only screen and (min-width: 504px) and (max-width: 767px){
	.rx-header-navleft{
		display: none;
	}
	.rx-ecdc-logo {
	    width: 50%;
	}
	.rx-ecdc-mainlogo {
	    width: 80%;
	}
	.news{
		display: none;
	}
	.tuyen{
		display: none;
	}
	.rx-header-navmain{
		display: none;
	}
	.rx-block-service-heading {
	    width: 100%;
	}
	span.rx-black {
	    font-size: 35px;
	}
	span.rx-red {
	    font-size: 35px;
	    margin-left: 10px;
	}
	.botclick_hover{
		width: 300px;
		margin-left: -236px;
	}
	.header_botclick{
		display: block;
	}
	.rx-header-navsearch{
		display: none;
	}
	.rx-block-service{
		width: 80%;
		height: 1400px;
	}
	.rx-block-service-group {
		height: 1525px;
	}
	.rx-block-service-content{
		width: 100%;
	}
	.rx-service-circle-wrap {
	    overflow: hidden;
	    width: 260px;
	    height: 260px;
	    margin: auto;
	    margin-top: 15px;
	    position: relative;
	    border-radius: 50%;
	    float: none;
	}
	.rx-about-content{
		padding-right: 0px;
	}
	.rx-about-name{
		font-size: 22px;
	}
	.rx-service-circle-wrap:last-child{
		margin: auto;
		margin-top: 15px;
	}
	.rx-block-about-container{
		width: 90%;
	}
	.rx-block-newsletter{
		height: 180px;
	}
	.rx-newsletter-container{
		width: 90%;
		padding-top: 15px;
	}
	.rx-block-about{
		min-height: 500px;
	}
	.rx-newsletter-name {
	    width: 100%;
	    height: 55px;
	    margin: auto;
	    float: none;
	    text-align: center;
	}
	input.rx-newsletter-input {
	    width: 63%;
	    float: left;
	    margin: auto;
	    display: inline-block;
	}
	button.rx-newsletter-button {
	    width: 35%;
	    display: inline-block;
	    margin-left: unset;
	    font-size: 14px;
	    margin-left: 5px;
	}
	.rx-footer-container{
		width: 90%;
	}
	.rx-newsletter-social {
	    margin: auto;
	    display: block;
	    float: none;
	    padding-top: 65px;
	}
	.rx-footer {
		min-height: 765px;
	}
	.rx-col-lg-4{
		width: 100%;
		margin: auto;
		float: none;
	}
	.rx-footer-bot{
		padding: 15px 0;
	}
	.rx-block-service-desc {
	    width: 100%;
    	font-size: 14px;
	}
	.rx-address-block {
	    float: none;
	    width: 80%;
	    margin: auto;
	}
	.rx-quicklink{
		width: 80%;
		float: none;
		margin: auto;
		margin-top: 20px;
	}
	.rx-footer-address-container {
    	width: 100%;
	}
	main#main {
	    width: 80%;
	}
	h1.entry-title {
	    font-size: 1em;
	}
	.contact-container {
    	width: 90%;
	}
	.contact-groups {
	    width: 100%;
	}
	.contact-content {
	    width: 75%;
	}
	.contents-container{
		width: 90%;
	}
	.contact-text{
		margin-bottom: 40px;
	}

}

@media only screen and (min-width: 320px) and (max-width: 503px){
	.rx-header-navleft{
		display: none;
	}
	.rx-ecdc-logo {
	    width: 50%;
	}
	.rx-ecdc-mainlogo {
	    width: 80%;
	}
	.news{
		display: none;
	}
	.tuyen{
		display: none;
	}
	.rx-header-navmain{
		display: none;
	}
	.rx-block-service-heading {
	    width: 100%;
	    margin-top: 30px;
	}
	span.rx-black {
	    font-size: 21px;
	}
	span.rx-red {
	    font-size: 21px;
	    margin-left: 5px;
	}
	.botclick_hover{
		width: 300px;
		margin-left: -236px;
	}
	.header_botclick{
		display: block;
	}
	.rx-header-navsearch{
		display: none;
	}
	.rx-block-service{
		width: 90%;
		height: 1400px;
	}
	.rx-block-service-group {
		height: 1320px;
	}
	.rx-block-service-content{
		width: 100%;
	}
	.rx-service-circle-wrap {
	    overflow: hidden;
	    width: 260px;
	    height: 260px;
	    margin: auto;
	    margin-top: 15px;
	    position: relative;
	    border-radius: 50%;
	    float: none;
	}
	.rx-about-content{
		padding-right: 0px;
	}
	.rx-about-name{
		font-size: 22px;
	}
	.rx-service-circle-wrap:last-child{
		margin: auto;
		margin-top: 15px;
	}
	.rx-block-about-container{
		width: 90%;
	}
	.rx-block-newsletter{
		height: 225px;
	}
	.rx-newsletter-container{
		width: 90%;
	}
	.rx-block-about{
		min-height: 500px;
	}
	.rx-newsletter-name {
	    width: 100%;
	    height: 80px;
	    margin: auto;
	    float: none;
	    text-align: center;
	}
	.rx-newsletter-name-top{
		line-height: 35px;
	}
	input.rx-newsletter-input {
	    width: 63%;
	    float: left;
	    margin: auto;
	    display: inline-block;
	}
	button.rx-newsletter-button {
	    width: 35%;
	    display: inline-block;
	    margin-left: unset;
	    font-size: 14px;
	    margin-left: 5px;
	}
	.rx-footer-container{
		width: 90%;
	}
	.rx-newsletter-social {
	    margin: auto;
	    display: block;
	    float: none;
	    padding-top: 65px;
	}
	.rx-footer {
		min-height: 815px;
	}
	.rx-col-lg-4{
		width: 80%;
		margin: auto;
		float: none;
	}
	.rx-block-service-desc {
	    width: 100%;
    	font-size: 14px;
	}
	.rx-address-block {
	    float: none;
	    width: 100%;
	    margin: auto;
	}
	.rx-quicklink{
		width: 80%;
		float: none;
		margin: auto;
		margin-top: 20px;
	}
	.rx-footer-address-container {
    	width: 100%;
	}
	main#main {
	    width: 80%;
	}
	h1.entry-title {
	    font-size: 1em;
	}
	.contact-container {
    	width: 90%;
	}
	.contact-groups {
	    width: 100%;
	}
	.contact-content {
	    width: 75%;
	}
	.contact-text{
		height: 65px;
	}
	.contents-container{
		width: 90%;
	}

}

